{{>head}}
{{>header}}
{{>side_navbar}}
<div class="page-wrapper" style="padding:0px!important;">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid p-b-0">
			
                                <button class="right-side-toggle-chat waves-effect waves-light btn-danger btn btn-circle btn-sm pull-right m-l-10 chat-btn toggle-btn" onclick="ajaxRequest('onlinefriends','POST',{}, {dataType:'json',callback:onlineFriends})" style="opacity:0" onmouseover="opacityincrease()"onmouseout="opacitydecrease()"><i class="mdi mdi-wechat text-white"></i></button>
                            
							
							<div class="row page-titles">
			<div class="col align-self-center">
				<h3 class="text-themecolor m-b-0 m-t-0 text-center">{{#userFriend}}{{name}}{{/userFriend}}</h3>
				
			</div>
			
		</div>
		
		
		
		<div class="card m-b-0 card-style">
		
                            <!-- .chat-row -->
                            <div class="chat-main-box">
                               
							   <div class="chat-left-aside">
							  
                                    <div class="open-panel"><i class="ti-angle-right"></i></div>
                                    <div class="chat-left-inner" style="height: 320px;">
                                        <div class="form-material">
                                            <input class="form-control p-4" type="text" placeholder="Search Contact" >
                                        </div>
                                        
										<div class="slimscrollright">
										<ul class="chatonline style-none list-group list-group-flush">
										{{#friendList}}
                                            <li class="list-group-item p-0" >
                                                <a href="friendchatwindow?fid={{id}}&window=true" id="{{id}}" class="p-2"><img src="{{imagepath}}" alt="user-img" class="img-circle"> <span>{{name}} {{#if loggedIn}}<small class="text-success">online</small>{{else}}<small class="text-muted">offline</small>{{/if}}</span></a>
                                            </li>
											{{/friendList}}
                                            
                                        </ul>
										</div></div>
										
										</div>
                                    
                                
							   
							   
							   
                                <!-- .chat-right-panel -->
                                <div class="chat-right-aside">

								<div class="card-body mt-0 m-0">
                                        <div class="row wave-effect m-0">
                                            <div class="form-control chat-area m-0 p-2 textBox b-1 custom-scroll col-11" onclick="ajaxRequest('msgread','POST', {fid:'{{#userFriend}}{{id}}{{/userFriend}}'}, {dataType:'json', callback:msgRead})" contenteditable style="height:59px;overflow:auto;border-radius:0px;">
											</div>
											<div class="col-1 text-right p-0 m-0" style="border:1px solid #9ecaef;box-shadow:1px 1px 5px 0px #ccc;border-right:1.4px solid #9ecaef">
											<i class="fa fa-paper-plane mr-3 mt-3 waves-effect sendBtn" onclick="ajaxRequest('sendmessage','POST', {fid:'{{#userFriend}}{{id}}{{/userFriend}}',text:$('.chat-area').html()}, {dataType:'json', callback:messageSent})" style="font-size:25px;color:#9ecaef"></i>
                                                
                                            </div>
											<div style="position:absolute;top:60px;width:100%;z-index:99;">
											
											<!--<img src="img/emojis/afraid.jpg" />
                                                <textarea placeholder="Type your message here" class="form-control b-t chat-area m-0 col-md-11 p-0 textBox pl-3 pt-2"></textarea>-->
												<a class="text-muted showSmiliesBtn"><i class="mdi mdi-face p-0 m-1"></i></a>
												<div class="dropdown-menu dropdown-menu-left animated fadeIn p-1 m-1 smilestable" style="left:100px;z-index:999999">
											{{>emoji}}
										
										</div>    
										      </div>
										
                                  
								</div>
								</div>
								
                                    <div class="chat-rbox" style="height:320px">
									
                                         <div class="slimscrollright">
										<ul class="chat-list p-20 textlist{{#userFriend}}{{id}}{{/userFriend}} list-group">
                                           
                                            
                                           {{#mychat}}
					{{#if me}}
					
						<li class="mytext m-0 p-0">
						<div class="row">

							<div class="chat-content mb-1" style="width:100%;">
							
								<div class="box bg-light-info m-0 p-1" style="border-radius:20px 0px 0px 0px;max-width: 450px;">
								
								<span class="pull-left mb-0 mr-1"><img src="{{#loggedInUser}}{{imagepath}}{{/loggedInUser}}" alt="user" class="rounded-circle" style="width:25px;height:25px;position:relative"/></span>
								<span class="chattime text-muted text-right p-0 m-0 align-top" style="font-size:9px;">{{sentAt}}</span>
								
								<div class="small msgtext text-left" style="word-break:break-word">{{{text}}}</div>
								
																
								</div>								
								</div>
								</div>						
							<div class="msgmark" style="position:relative;font-size:25px;line-height:0px;bottom:9px"><span style="color:#97ebf4">.</span>{{#if delivered}}<span class="delivered" style="color:#49abed">.</span>{{else}}<span class="undelivered" style="color:#49abed"><input type="hidden" value="{{id}}"></span>{{/if}}{{#if read}}<span class="read" style="color:#0062bf">.</span>{{else}}<span class="unread" style="color:#0062bf"><input type="hidden" value="{{id}}"></span>{{/if}}</div>
						 </li>
						 
					 {{else}}
					 	<li class="reverse m-0">
							<div class="row">			
								<div class="chat-content m-0 mb-1" style="width:100%">
									<div class="box bg-light-inverse m-0 p-2" style="background-color:#E4D8F2;position:relative;max-width:450px;border-radius:0px 20px 0px 0px">
									<div class="chattime text-muted text-left m-0 pr-3 mr-2" style="font-size:9px;position:relative;">{{deliveredAt}}</div>
									
									<span class="pull-right mb-0 ml-1"><img src="{{#userFriend}}{{imagepath}}{{/userFriend}}" alt="friend" class="rounded-circle" style="width:25px;height:25px;position:relative;bottom:17px;left:3px"/></span>
									
									<div class="small mr-1 text-left msgtext" style="word-break:break-word;">{{{text}}}</div>									
								</div>								
								</div>								
								</div>
						</li>

					 {{/if}}
					 
				 {{/mychat}}
					{{^mychat}}
                              <p class="text-center"> Star new chat with <a href="friendprofile?fid={{#userFriend}}{{id}}{{/userFriend}}">{{#userFriend}}{{name}}{{/userFriend}}</a></p>
							  {{/mychat}}
                                         <div><button class="btn btn-block btn-secondary text-align-center p-2 mt-2 morechatbtn" style="border-radius:0px" onclick="ajaxRequest('morechat','POST', {fid:'{{#userFriend}}{{id}}{{/userFriend}}',skip:'{{skip}}'}, {dataType:'json', callback:moreChat})"><i class="mdi mdi-unfold-more"></i></button></div>  
                                        </ul>
										
										 </div>
										 
										 </div>
                                   
                                    
					
                                </div>
                                <!-- .chat-right-panel -->
                            </div>
							
                            <!-- /.chat-row -->
                        </div>

</div>
</div>
{{>right_sidebar}}
{{>foot}}
<script>

$('.chattime').each(function(){
var me = $(this);
var oldValue = moment($(me).text(),'ddd MMM DD hh:mm:ss IST yyyy');

if(moment(oldValue,'ddd MMM DD hh:mm:ss IST yyyy').isValid()){
$(me).html(oldValue.format('hh:mm a').replace(/ /g,'&nbsp;'));
}
});
$('.showSmiliesBtn').popover({

	html:true,
	content:' ',
	    template: '<div class="popover "><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content  custom-scroll p-2" style="height:200px;overflow:auto;">'+$('.smilestable').html()+'</div></div>'

	
});
$(document).on('click', function(e){
	if($(e.target)[0].tagName != 'IMG' && !$(e.target).parent().hasClass('showSmiliesBtn')) {
		console.log(e.target, $(e.target)[0].tagName, $(e.target).parent().hasClass('showSmiliesBtn'));
		$('.showSmiliesBtn').popover('hide');
	}
});

$(document).ready(function(){
$('#{{#userFriend}}{{id}}{{/userFriend}}').addClass('active');
});
function opacityincrease(){
$('.toggle-btn').css('opacity','1');
}
function opacitydecrease(){
$('.toggle-btn').css('opacity','0');
}
function sendSmiley(me){
$('.textBox').append($(me).clone());
$('.textBox').append('');
}
</script>
{{>end}}							
                                <!-- .chat-right-panel -->
                        