{{>head}}
{{>header}}
{{>side_navbar}}


<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Contact List</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- .row -->
                <div class="row">
                    <!-- .col -->
					{{#friendList}}
					{{#friend}}
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-block" style="    padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1rem;">
                            <div class="row">
                                <div class="col-md-5 col-lg-3">
								 <div class="message-box contact-box">
								<div class="message-widget contact-widget">
                                    <a href="friendprofile?fid={{id}}"><div class="user-img-big"> <img src="{{imagepath}}" alt="user" class="img-circle" style="margin-right:10px;"> <span class="profile-status {{#if loggedIn}}online pull-right{{/if}}" style="position:absolute"></span> </div></a>
                                </div>
								</div>
								</div>
                                <div class="col-md-7 col-lg-9" style="padding-left:40px">
                                    <h3 class="box-title m-b-0">{{name}}</h3> <small>Web Developer</small><br>
                                    <small>{{email}}</small>
									<div>
									<div class="btn-group friendBtn" id="{{id}}">
                                    <button type="button" class="btn btn-secondary dropdown-toggle friend-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Friends
                                    </button>
                                    <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -196px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        
                                        <button class="dropdown-item" onclick="ajaxRequest('removefriend', 'POST', {fid:'{{id}}'}, {dataType:'json', callback:afterRemove})">Remove as Friend</button>
                                        
                                    </div>
                                </div>
								</div>
                                </div>
                            </div>
                        </div>
                    </div>
					{{/friend}}
					{{/friendList}}
                    <!-- /.col -->
                    
                </div>

</div>
</div>
{{>right_sidebar}}
{{>foot}}
{{>end}}