{{>head}}
{{>header}}
{{>side_navbar}}
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Timeline</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Timeline</li>
                        </ol>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" style="padding:30px">
                                <ul class="timeline">
								{{#activityList}}
								
								
								<li class=" {{^left}}timeline-inverted{{/left}}">
								
								{{#uploadpic}}
                                    
                                        <div class="timeline-badge success">
											<a href="friendprofile?fid={{uid}}">
												<img class="img-responsive" alt="user" src="{{#friendInfo}}{{imagepath}}{{/friendInfo}}" alt="img"></a> 
										</div>
                                        <div class="timeline-panel timeline{{_id}}">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">
													<strong>{{#friendInfo}}{{name}}{{/friendInfo}}</strong>
												</h4>
												<h6>Uploaded new Picture</h6>
                                                <p><i class="fa fa-clock-o"></i> <small class="text-muted timeAgo">{{#activity}}{{date}}{{/activity}}</small> </p>
                                            </div>
                                            <div class="timeline-body">
                                                <img class = "img-thumbnail img-fluid" src = "{{path}}" width="350" height="350">
                                            <div class="like-comm">
											<button type="button" class="btn btn-secondary" data-container="body" onclick="ajaxRequest('showcomments','POST',  {activityId:'{{_id}}', }, {dataType:'json', callback:commentBox})" >
												<a href="javascript:void(0)" class="link m-r-10 comment">Comment</a>
											</button>
											<button type="button" class="btn btn-secondary" data-container="body">
												<a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> 
											</button>
											<button type="button" class="btn btn-secondary" data-container="body">
												<a href="javascript:void(0)" class="link m-r-10"><i class="mdi mdi-heart-broken text-default"></i> 5 Heartbreak</a> 
											</button>
										</div>
										<div style="display:block;" class="divBox">
											<ul class="list-group" style="margin-top:5px">
											{{#commentList}}
											<li class="list-group-item" style="background-color:#E7EFFC;margin-bottom:5px">{{#comment}}{{comment}}{{/comment}}</li>
											{{/commentList}}
											</ul>
											
											<textarea class="form-control" placeholder="Type Your Comment" rows="2" style="background-color:#E5E7EA;margin-top:5px" id ="commentMessage{{_id}}">
											</textarea>
											<button type="button" class="btn btn-secondary" onclick="ajaxRequest('addcomment','POST', {fid:'{{#loggedInUser}}{{id}}{{/loggedInUser}}', activityId:'{{_id}}', comment:$('#commentMessage{{_id}}').val()}, {dataType:'json', callback:postComment})">OK</button>
											
											</div>
											</div>
                                        </div>
										
									{{/uploadpic}}
									{{#profilepic}}
									
                                           <div class="timeline-badge success">
											<a href="friendprofile?fid={{uid}}">
												<img class="img-responsive" alt="user" src="{{#friendInfo}}{{imagepath}}{{/friendInfo}}" alt="img"></a> 
										</div>
                                        <div class="timeline-panel timeline{{_id}}">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">
													<strong>{{#friendInfo}}{{name}}{{/friendInfo}}</strong>
												</h4>
												<h6>Uploaded new Picture</h6>
                                                <p><i class="fa fa-clock-o"></i> <small class="text-muted timeAgo">{{#activity}}{{date}}{{/activity}}</small> </p>
                                            </div>
                                            <div class="timeline-body">
                                                <img class = "img-thumbnail img-fluid" src = "{{path}}" width="350" height="350">
                                            <div class="like-comm">
											<button type="button" class="btn btn-secondary" data-container="body" onclick="ajaxRequest('showcomments','POST',  {activityId:'{{_id}}', }, {dataType:'json', callback:commentBox})" >
												<a href="javascript:void(0)" class="link m-r-10 comment">Comment</a>
											</button>
											<button type="button" class="btn btn-secondary" data-container="body">
												<a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> 
											</button>
											<button type="button" class="btn btn-secondary" data-container="body">
												<a href="javascript:void(0)" class="link m-r-10"><i class="mdi mdi-heart-broken text-default"></i> 5 Heartbreak</a> 
											</button>
										</div>
										<div style="display:block;" class="divBox">
											<ul class="list-group" style="margin-top:5px">
											{{#commentList}}
											<li class="list-group-item" style="background-color:#E7EFFC;margin-bottom:5px">{{#comment}}{{comment}}{{/comment}}</li>
											{{/commentList}}
											</ul>
											
											<textarea class="form-control" placeholder="Type Your Comment" rows="2" style="background-color:#E5E7EA;margin-top:5px" id ="commentMessage{{_id}}">
											</textarea>
											<button type="button" class="btn btn-secondary" onclick="ajaxRequest('addcomment','POST', {fid:'{{#loggedInUser}}{{id}}{{/loggedInUser}}', activityId:'{{_id}}', comment:$('#commentMessage{{_id}}').val()}, {dataType:'json', callback:postComment})">OK</button>
											
											</div>
											</div>
                                        </div>
                                    </li>
									
									{{/profilepic}}
									{{/activityList}}
         
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		
{{>right_sidebar}}
{{>foot}}
{{>end}}