{{>head}}
{{>header}}
{{>side_navbar}}
<div id="main-wrapper">
	<div class="page-wrapper">
        <div class="container-fluid"> 
        <div class="">
                                <button class="right-side-toggle-chat waves-effect waves-light btn-danger btn btn-circle btn-sm pull-right m-l-10" onclick="ajaxRequest('onlinefriends','POST',{}, {dataType:'json',callback:onlineFriends})"><i class="mdi mdi-wechat text-white"></i></button>
                            </div>
		<div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Gallery</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Gallery</li>
                        </ol>
                    </div>

                </div>

				<div class="card card-style">
                            <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#dp" role="tab">Display Images</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#uploads" role="tab">Your Uploads</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#addpic" role="tab">Add Pictures</a> </li>
                    </ul>
                            <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="dp" role="tabpanel">
                            <div class="card-block">
                                <div class="row el-element-overlay">
								{{#profilePicList}}
									<div class="col-md-4">
										<div class="card">
											<div class="el-card-item">
												<div class="el-card-avatar el-overlay-1"> 	<img src="{{path}}" alt="user" />
													<div class="el-overlay">
														<ul class="el-info">
															<li><a class="btn default btn-outline image-popup-vertical-fit" href="{{path}}"><i class="icon-magnifier"></i></a></li>
															<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
														</ul>
													</div>
												</div>
												<div class="el-card-content">
													<!--<h3 class="box-title">Project title</h3>-->
												<i class="fa fa-clock-o" style="margin-right:5px"></i><small><label class="timeAgo">{{uploadTime}}</label></small>
													
													
											<br/> </div>
											</div>
										</div>
									</div>
									{{/profilePicList}}
						</div>
					</div>
                </div>
                <div class="tab-pane" id="uploads" role="tabpanel">
                    <div class="card-block">
                        <div class="card-columns el-element-overlay">
						{{#uploadPicList}}
							<div class="card">
								<div class="el-card-item">
									<div class="el-card-avatar el-overlay-1">
										<a class="image-popup-vertical-fit" href="{{path}}"> <img src="{{path}}" alt="user" /> </a>
									</div>
									<div class="el-card-content">
										<!--<h3 class="box-title">Project title</h3>--> <i class="fa fa-clock-o" style="margin-right:5px"></i><small><label class="timeAgo">{{uploadTime}}</label></small>
								<br/> </div>
								</div>
							</div>
							{{/uploadPicList}}
							</div>
                </div>
            </div>
            <div class="tab-pane" id="addpic" role="tabpanel">
                <div class="card-block">
                    <div class="card-body">
                        <h4 class="card-title">Dropzone</h4>
                            <h6 class="card-subtitle">Add pictures to your gallery</h6>
                            <form action="addPictures" class="dropzone dz-clickable dz-form">
								<div class="dz-default dz-message"><span>Drop files here to upload</span></div></form>
								</div>
					</div>  
                </div>
            </div>
         					
		</div>
	</div>
</div>
</div>
{{>right_sidebar}}
{{>foot}}

{{>end}}