{{>head}}
{{>header}}
{{>side_navbar}}


<div class="page-wrapper">
<div class="container-fluid">
<div class="">
                                <button class="right-side-toggle-chat waves-effect waves-light btn-danger btn btn-circle btn-sm pull-right m-l-10" onclick="ajaxRequest('onlinefriends','POST',{}, {dataType:'json',callback:onlineFriends})"><i class="mdi mdi-wechat text-white"></i></button>
                            </div>
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-8 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Following list matches your search "{{search}}"</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Search</li>
                        </ol>
                    </div>
                </div>
<div class="row">
<button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    <!-- .col -->
					{{#if user}}
					{{#loggedInUser}}
					<div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body" style="    padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1.25rem;">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="profile"><img src="{{imagepath}}" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{name}}</h3> <small>{{email}}</small><br><small>Web Developer</small>                                    <div>													
								</form>
								</div>
                                </div>
								
                            </div>
                        </div>
                    </div>
					{{/loggedInUser}}
					{{/if}}
					{{#searchedFriend}}
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body" style="    padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1.25rem;">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="friendprofile?fid={{id}}"><img src="{{imagepath}}" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{name}}</h3>
								<small>{{email}}</small><br><small>Web Developer</small>
                                    <div>
								<div class="btn-group friendBtn" id="{{id}}">
                                    <button type="button" class="btn btn-secondary dropdown-toggle friend-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Friends
                                    </button>
                                    <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -196px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        
                                        <button class="dropdown-item" onclick="ajaxRequest('removefriend', 'POST', {fid:'{{id}}'}, {dataType:'json', callback:afterRemove})">Remove as Friend</button>
                                        
                                    </div>
                                </div>		
								</div>
                                </div>
								
                            </div>
                        </div>
                    </div>
					{{/searchedFriend}}
					{{#requestedUser}}
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body" style="    padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1.25rem;">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="friendprofile?fid={{id}}"><img src="{{imagepath}}" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{name}}</h3><small>{{email}}</small><br> <small>Web Developer</small>
                                    <div>									
									<div class="btn-group sentBtn" id="{{id}}">
                                    <button type="button" class="btn btn-secondary dropdown-toggle friend-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Request Sent
                                    </button>
                                    <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -196px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        
                                        <button type="button" class="dropdown-item" onclick="ajaxRequest('cancelfriendrequest', 'POST', {fid:'{{id}}'}, {dataType:'json', callback:afterCancel})">Cancel Request</button>
                                        
                                    </div>
                                </div>									
								</div>
                                </div>
								
                            </div>
                        </div>
                    </div>
					{{/requestedUser}}
					{{#pendingFriend}}
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body" style="padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1.25rem;">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="friendprofile?fid={{id}}"><img src="{{imagepath}}" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{name}}</h3> <small>{{email}}</small><br><small>Web Developer</small>
                                    <div>
									<button type="button" class="btn friend-btn responseBtn" id="accept{{id}}" onclick="ajaxRequest('friendresponse', 'POST', {fid:'{{id}}', response:'Accept',}, {dataType:'json', callback:afterAccept})">Accept</button>
									<button type="button" class="btn friend-btn responseBtn" id="reject{{id}}" onclick="ajaxRequest('friendresponse', 'POST', {fid:'{{id}}', response:'Reject',}, {dataType:'json', callback:afterReject})">Reject</button>																
								
								</div>
                                </div>
								
                            </div>
                        </div>
                    </div>
					{{/pendingFriend}}
					{{#searchedUser}}
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body" style="    padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1.25rem;">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="friendprofile?fid={{id}}"><img src="{{imagepath}}" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{name}}</h3> <small>{{email}}</small><br><small>Web Developer</small>
                                    <div>
									
									<button type="button" class="btn friend-btn beFriend" id="{{id}}" onclick="ajaxRequest('befriend','POST', {fid:'{{id}}'},{dataType:'json', callback:beFriend})">Be Friend</button>
								

								</div>
                                </div>
								
                            </div>
                        </div>
                    </div>
					{{/searchedUser}}
					</div>
					</div>
					</div>
{{>right_sidebar}}
{{>foot}}

{{>end}}