{{>head}}
{{>header}}
{{>side_navbar}}


<div class="page-wrapper">
<div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-8 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Following list matches your search "{{search}}"</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Search</li>
                        </ol>
                    </div>
                </div>
<div class="row">
<button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    <!-- .col -->
					{{#if user}}
					{{#loggedInUser}}
					<div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body" style="    padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1.25rem;">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="{{imagepath}}" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{name}}</h3> <small>{{email}}</small><br><small>Web Developer</small>                                    <div>													
								</form>
								</div>
                                </div>
								
                            </div>
                        </div>
                    </div>
					{{/loggedInUser}}
					{{/if}}
					{{#searchedFriend}}
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body" style="    padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1.25rem;">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="{{imagepath}}" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{name}}</h3>
								<small>{{email}}</small><br>									<small>Web Developer</small>
                                    <div>
									<form action="befriend" method="post">
									<input type="hidden" value="{{id}}" name="fid">
									<button class="btn friend-btn" disabled="disabled"> Friends</button>		
								</form>
								</div>
                                </div>
								
                            </div>
                        </div>
                    </div>
					{{/searchedFriend}}
					{{#requestedUser}}
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body" style="    padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1.25rem;">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="{{imagepath}}" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{name}}</h3><small>{{email}}</small><br> <small>Web Developer</small>
                                    <div>
									<form action="befriend" method="post">
									<input type="hidden" value="{{id}}" name="fid">
									<button class="btn friend-btn" disabled="disabled"> Request Sent</button>																
								</form>
								</div>
                                </div>
								
                            </div>
                        </div>
                    </div>
					{{/requestedUser}}
					{{#pendingFriend}}
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body" style="padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1.25rem;">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="{{imagepath}}" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{name}}</h3> <small>{{email}}</small><br><small>Web Developer</small>
                                    <div>
									<form action="befriend" method="post">
									<input type="hidden" value="{{id}}" name="fid">
									<button class="btn friend-btn">Accept</button>
									<button class="btn friend-btn">Reject</button>																
								</form>
								</div>
                                </div>
								
                            </div>
                        </div>
                    </div>
					{{/pendingFriend}}
					{{#searchedUser}}
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body" style="    padding-top: 1.25rem;  padding-right: 1.25rem;padding-bottom: 1.25rem;padding-left: 1.25rem;">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="{{imagepath}}" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">{{name}}</h3> <small>{{email}}</small><br><small>Web Developer</small>
                                    <div>
									<form action="befriend" method="post">
									<input type="hidden" value="{{id}}" name="fid">
									<button class="btn friend-btn">Be Friend</button>
								</form>
								</div>
                                </div>
								
                            </div>
                        </div>
                    </div>
					{{/searchedUser}}
					</div>
					</div>
					</div>
{{>right_sidebar}}
{{>foot}}

{{>end}}